* {
  box-sizing: border-box;
}

/* BACKGROUND COLORS */

.header-nav {
  background-color: #31313d;
}

.section-one {
  background-color: #364c6b;
}

.master-section {
  background-image: linear-gradient(#364c6b, lightgray);
}

.testimonial-box {
  background-color: azure;
}

.sign-up-box {
  background-image: linear-gradient(to left, blue, lightblue);
}
footer {
  background-color: #31313d;
}

/* HEADER AND NAV BAR */
body {
  margin: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
}

ul {
  display: Flex;
  gap: 100px;
  margin-right: 10%;
  justify-content: center;
  align-content: center;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: underline;
  font-size: 20px;
}

.logo-img {
  max-width: 95%;
  max-height: 100%;
  margin-top: 4px;
  display: flex;
  padding: 5px;
}

/* SECTION ONE */

.section-one {
  display: Flex;
}
.container-one {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-bottom: 25px;
}

.main-description {
  display: flex;
  flex-direction: column;
  color: azure;
  padding: 10px 50px;
  font-size: 26px;
  height: auto;
  flex: 0 1 800px;
  text-align: Center;
}

.descrip-header {
  color: rgb(255, 4, 0);
  text-decoration: underline;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

.contact-logo {
  border: 5px solid yellow;
  display: Flex;
  margin-top: 50px;
  max-width: 550px;
  height: auto;
  border-radius: 10px;
}

/* SECTION TWO */

.section-two-title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding: 25px 0;
}
#Service-photos {
  width: 280px;
  height: auto;
  display: flex;
  border-radius: 10px;
}

.photos-div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 18px;
  color: rgb(54, 89, 155);
  font-weight: bold;
  flex-wrap: wrap;
  padding: 20px 10px;
  gap: 5px;
}

/* SECTION THREE */

.section-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial {
  font-size: 26px;
}

.testimonial-box {
  border-radius: 15px;
  max-width: 800px;
  padding: 10px;
  margin-bottom: 50px;
}

/* SECTION FOUR */

.section-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-up-box {
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 50px;
  display: Flex;
  gap: 20px;
}

.sign-up-text {
  font-size: 24px;
}

.book-button {
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  border-radius: 15px;
  border: 4px solid darkblue;
  transition-duration: 0.4s;
}

.book-button:hover {
  background-color: darkblue;
  color: white;
}
/* FOOTER */

footer {
  display: Flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: bold;
  color: white;
}
